<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include('./partials/head') %>
</head>
<body>
	
	<%- include('./partials/navigation'); %>

	<div class="container m-topbottom">
		<header class="row">
			<div class="width m-auto">
				<div class="col-lg-12 text-center">
					<img src="/img/fazt.png" class="animate__bounceIn width" alt="My First Page Online">
					<h1 class="my-fsx4">Cuebitas</h1>
					<button class="my-button">About Us</button>
				</div>
			<div>
		</header>
	</div>

	<!-- SECTION ONE -->

	<div class="container-fluid" id="about">
		<div class="row bg-dark text-white p-5 text-center">
			<div class="width m-width m-auto">
				<h3>Other page of a newbie</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>

	<%- include('./partials/footer'); %>

</body>
</html>